// use de los scss para acceder a todos los Estilos
@use 'varios/variables' as *;
@use 'varios/mixins' as *;
@use 'basicos/universal';
@use 'basicos/tipografia';
@use 'composicion/header';
@use 'composicion/main';
@use 'composicion/footer';
@use 'componentes/carrusel';
@use 'componentes/formulario';
@use 'paginas/index';
@use 'paginas/momentos';
@use 'paginas/musica';

@include media-query(large-desktop) {
    header nav,
    main,
    footer .redes-sociales-footer {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}
