@import 'varios/variables';
@import 'varios/mixins';
@import 'basicos/universal';
@import 'basicos/tipografia';
@import 'composicion/header';
@import 'composicion/main';
@import 'composicion/footer';
@import 'componentes/carrusel';
@import 'componentes/formulario';
@import 'paginas/index';
@import 'paginas/momentos';
@import 'paginas/musica';

@include media-query(large-desktop) {
    header nav,
    main,
    footer .redes-sociales-footer {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}
