@use '../varios/variables';
@use '../varios/mixins'; 

main {
    flex-grow: 1;
    padding: variables.$padding-base;
    max-width: 1200px;
    margin: 2.5rem auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr;

    @include mixins.media-query(mobile) {
        padding: variables.$padding-base 1rem;
        margin: 2rem auto;
        gap: 2rem;
    }

    @include mixins.media-query(desktop) {
        gap: 3rem;
    }

    section {
        @include mixins.section-base;

        p {
            @include mixins.media-query(desktop) {
                font-size: 1.25rem;
            }
        }
    }

    .contenido-foro img {
        max-width: 400px;
        height: auto;
        display: block;
        margin-top: 2rem;
        opacity: 0.8;
        margin-left: auto;
        margin-right: auto;

        @include mixins.media-query(mobile) {
            max-width: 90%;
        }
    }
}