@use 'variables';

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin media-query($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: variables.$mobile-breakpoint) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media (min-width: variables.$tablet-breakpoint) {
            @content;
        }
    } @else if $breakpoint == desktop {
        @media (min-width: variables.$desktop-breakpoint) {
            @content;
        }
    } @else if $breakpoint == large-desktop {
        @media (min-width: variables.$large-desktop-breakpoint) {
            @content;
        }
    }
}

@mixin section-base {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: variables.$border-radius-base;
    padding: calc(variables.$padding-base * 2);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    @include flex-center;
    flex-direction: column;
    text-align: center;
    transition: transform variables.$transition-speed ease-in-out, box-shadow variables.$transition-speed ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    }

    p {
        font-size: 1.15rem;
        max-width: 850px;
        margin: 0 auto 1.2rem auto;
        color: variables.$color-4;
        text-align: center;
    }
}

@mixin input-field-base {
    width: 100%;
    padding: 0.95rem;
    border: 1px solid variables.$color-1;
    border-radius: variables.$border-radius-base;
    background-color: rgba(255, 255, 255, 0.1);
    color: variables.$color-5;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    transition: border-color variables.$transition-speed ease, background-color variables.$transition-speed ease, box-shadow variables.$transition-speed ease;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
        outline: none;
        border-color: variables.$color-3;
        background-color: rgba(255, 255, 255, 0.15);
        box-shadow: 0 0 0 4px rgba(109, 213, 237, 0.3);
    }
}