@use '../varios/variables';
@use '../varios/mixins'; 

.video-presentacion {
    video {
        max-width: 100%;
        height: auto;
        border-radius: variables.$border-radius-base;
        display: block;
        margin-top: 1.8rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

        &::-webkit-media-controls {
            border-radius: variables.$border-radius-base;
        }

        @include mixins.media-query(desktop) {
            width: 640px;
            height: 360px;
        }
    }

    @include mixins.media-query(tablet) {
        grid-column: 2 / 3;
        @include mixins.flex-center;
    }
}

main:has(.presentacion, .video-presentacion) {
    @include mixins.media-query(tablet) {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        @include mixins.media-query(tablet) {
            grid-column: 1 / -1;
        }
    }
}

.presentacion {
    @include mixins.media-query(tablet) {
        grid-column: 1 / 2;
    }
}