// use de los scss para acceder a variables y mixins
@use '../varios/variables';
@use '../varios/mixins'; 

// Estilos Comunes para Secciones de Destacados
.streams-destacados,
.clips-destacados {
    margin-bottom: 2.5rem;
}

// Contenedor de las Columnas
main:has(.streams-destacados, .clips-destacados) {
    @include mixins.media-query(desktop) {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        @include mixins.media-query(desktop) {
            grid-column: 1 / -1;
        }
    }
}

// Sección de Streams Destacados
.streams-destacados {
    @include mixins.media-query(desktop) {
        grid-column: 1 / 2;
    }

    h2 {
        @include mixins.media-query(desktop) {
            max-width: 750px;
            margin-left: center;
            margin-right: center;
        }
    }
}

// Sección de Clips Destacados
.clips-destacados {
    @include mixins.media-query(desktop) {
        grid-column: 2 / 3;
    }

    h2 {
        @include mixins.media-query(desktop) {
            max-width: 750px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}