@use '../varios/variables';
@use '../varios/mixins'; 

.musica-fefe,
.musica-yoox {
    margin-bottom: 2.5rem;

    iframe {
        width: 100%;
        height: 380px;
        border-radius: variables.$border-radius-base;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }
}

main:has(.musica-fefe, .musica-yoox) {
    @include mixins.media-query(desktop) {
        grid-template-columns: 1fr 1fr;
    }

    h2:first-of-type {
        @include mixins.media-query(desktop) {
            grid-column: 1 / -1;
        }
    }

    .musica-intro { // Suponiendo una clase para el párrafo introductorio
        @include mixins.media-query(desktop) {
            grid-column: 1 / -1;
        }
    }
}

.musica-fefe {
    @include mixins.media-query(desktop) {
        grid-column: 1 / 2;
    }
}
.musica-yoox {
    @include mixins.media-query(desktop) {
        grid-column: 2 / 3;
    }
}