@use '../varios/variables';
@use '../varios/mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: variables.$color-5;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 1.8rem;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 2.8rem;

    @include mixins.media-query(mobile) {
        font-size: 2.2rem;
        margin-bottom: 1.2rem;
    }

    @include mixins.media-query(tablet) {
        font-size: 3.5rem;
    }

    @include mixins.media-query(desktop) {
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 2.2rem;

    @include mixins.media-query(mobile) {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    @include mixins.media-query(tablet) {
        font-size: 2.5rem;
    }

    @include mixins.media-query(desktop) {
        font-size: 3rem;
    }
}