// use de los scss para acceder a variables
@use '../varios/variables';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Define la apariencia y el comportamiento base para todo el documento
body {
    background-image: url(../media/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: variables.$color-4;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}