@use '../varios/variables';
@use '../varios/mixins'; 

.carousel-item iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 250px;
    aspect-ratio: 16 / 9;
    border-radius: variables.$border-radius-base;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

    @include mixins.media-query(tablet) {
        height: 315px;
    }

    @include mixins.media-query(desktop) {
        width: 560px;
        height: 315px;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 1rem;
    transition: background-color variables.$transition-speed ease, transform variables.$transition-speed ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transform: scale(1.1);
    }
}